<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <meta name="description" content="User Dashboard">
  <title>Dashboard | User</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="manifest" href="/manifest.json">
  <script src="/js/bundle.js" defer></script>
</head>

<body>
  <div class="text-div">
    <div class="text">
      <b class="large-font">NodeJS Authentication</b>
    </div>
  </div>
  <div class="container">
    <div id="register-form" class="form-section">
      <h4 class="text-div">Register</h4>
      <div class="form-group">
        <label for="username">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12">
            <path
              d="M10.561 8.073a6.005 6.005 0 0 1 3.432 5.142.75.75 0 1 1-1.498.07 4.5 4.5 0 0 0-8.99 0 .75.75 0 0 1-1.498-.07 6.004 6.004 0 0 1 3.431-5.142 3.999 3.999 0 1 1 5.123 0ZM10.5 5a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z">
            </path>
          </svg>
          Username
        </label>
        <input type="text" id="username" placeholder="Enter your username" autocomplete="username">
      </div>
      <div class="form-group">
        <label for="email">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12">
            <path
              d="M1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25v-8.5C0 2.784.784 2 1.75 2ZM1.5 12.251c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V5.809L8.38 9.397a.75.75 0 0 1-.76 0L1.5 5.809v6.442Zm13-8.181v-.32a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25v.32L8 7.88Z">
            </path>
          </svg>
          Email
        </label>
        <input type="email" id="email" placeholder="Enter your email" autocomplete="email">
      </div>
      <div class="form-group">
        <label for="password">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12">
            <path
              d="M4 4a4 4 0 0 1 8 0v2h.25c.966 0 1.75.784 1.75 1.75v5.5A1.75 1.75 0 0 1 12.25 15h-8.5A1.75 1.75 0 0 1 2 13.25v-5.5C2 6.784 2.784 6 3.75 6H4Zm8.25 3.5h-8.5a.25.25 0 0 0-.25.25v5.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-5.5a.25.25 0 0 0-.25-.25ZM10.5 6V4a2.5 2.5 0 1 0-5 0v2Z">
            </path>
          </svg>
          Password
        </label>
        <input type="password" id="password" placeholder="Enter your password" autocomplete="new-password">
      </div>
      <div id="password-requirements">
        <p>Password must contain:</p>
        <ul>
          <li id="length" class="invalid">At least 8 characters</li>
          <li id="uppercase" class="invalid">At least one uppercase letter</li>
          <li id="lowercase" class="invalid">At least one lowercase letter</li>
          <li id="number" class="invalid">At least one number</li>
          <li id="special" class="invalid">At least one special character (@$!%*?&)</li>
        </ul>
      </div>
      <button id="register-button">
        <span class="button-content">Register</span>
        <span class="button-spinner hidden">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12">
            <path d="M2 7.75A.75.75 0 0 1 2.75 7h10a.75.75 0 0 1 0 1.5h-10A.75.75 0 0 1 2 7.75Z"></path>
          </svg>
        </span>
      </button>
      <p class="error" id="register-error"></p>
      <p class="font-second">
        Already have an account? <a href="#" id="show-login" class="link">Login</a>
      </p>
    </div>
    <div id="login-form" class="form-section active">
      <h4 class="text-div">Login</h4>
      <div class="form-group">
        <label for="login-username">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12">
            <path
              d="M10.561 8.073a6.005 6.005 0 0 1 3.432 5.142.75.75 0 1 1-1.498.07 4.5 4.5 0 0 0-8.99 0 .75.75 0 0 1-1.498-.07 6.004 6.004 0 0 1 3.431-5.142 3.999 3.999 0 1 1 5.123 0ZM10.5 5a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z">
            </path>
          </svg>
          Username
        </label>
        <input type="text" id="login-username" placeholder="Enter your username" autocomplete="username">
      </div>
      <div class="form-group">
        <label for="login-password">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12">
            <path
              d="M4 4a4 4 0 0 1 8 0v2h.25c.966 0 1.75.784 1.75 1.75v5.5A1.75 1.75 0 0 1 12.25 15h-8.5A1.75 1.75 0 0 1 2 13.25v-5.5C2 6.784 2.784 6 3.75 6H4Zm8.25 3.5h-8.5a.25.25 0 0 0-.25.25v5.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-5.5a.25.25 0 0 0-.25-.25ZM10.5 6V4a2.5 2.5 0 1 0-5 0v2Z">
            </path>
          </svg>
          Password
        </label>
        <input type="password" id="login-password" placeholder="Enter your password" autocomplete="current-password">
      </div>
      <button id="login-button">
        <span class="button-content">Login</span>
        <span class="button-spinner hidden">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12">
            <path d="M2 7.75A.75.75 0 0 1 2.75 7h10a.75.75 0 0 1 0 1.5h-10A.75.75 0 0 1 2 7.75Z"></path>
          </svg>
        </span>
      </button>
      <p class="error" id="login-error"></p>
      <p class="font-second">
        Don't have an account? <a href="#" id="show-register" class="link">Register</a>
      </p>
      <p class="font-second">
        <a href="#" id="forgot-password-link" class="link">Forgot password?</a>
      </p>
    </div>
    <div id="forgot-password-form" class="form-section">
      <h4 class="text-div">Forgot Password</h4>
      <div class="form-group">
        <label for="forgot-email">Enter your email</label>
        <input type="email" id="forgot-email" placeholder="Enter your email" autocomplete="email">
      </div>
      <button id="send-reset-link">
        <span class="button-content">Send Reset Link</span>
        <span class="button-spinner hidden">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12">
            <path d="M2 7.75A.75.75 0 0 1 2.75 7h10a.75.75 0 0 1 0 1.5h-10A.75.75 0 0 1 2 7.75Z"></path>
          </svg>
        </span>
      </button>
      <p class="error" id="forgot-password-error"></p>
      <p class="font-second">
        Remember your password? <a href="#" id="back-to-login" class="link">Back to Login</a>
      </p>
    </div>
    <div id="2fa-form" class="form-section">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12">
          <path
            d="M10.5 0a5.499 5.499 0 1 1-1.288 10.848l-.932.932a.749.749 0 0 1-.53.22H7v.75a.749.749 0 0 1-.22.53l-.5.5a.749.749 0 0 1-.53.22H5v.75a.749.749 0 0 1-.22.53l-.5.5a.749.749 0 0 1-.53.22h-2A1.75 1.75 0 0 1 0 14.25v-2c0-.199.079-.389.22-.53l4.932-4.932A5.5 5.5 0 0 1 10.5 0Zm-4 5.5c-.001.431.069.86.205 1.269a.75.75 0 0 1-.181.768L1.5 12.56v1.69c0 .138.112.25.25.25h1.69l.06-.06v-1.19a.75.75 0 0 1 .75-.75h1.19l.06-.06v-1.19a.75.75 0 0 1 .75-.75h1.19l1.023-1.025a.75.75 0 0 1 .768-.18A4 4 0 1 0 6.5 5.5ZM11 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z">
          </path>
        </svg>
        Email Verification
      </h2>
      <div class="form-group" id="email-container">
        <label for="email-token">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12">
            <path
              d="M9 4.75A.75.75 0 0 1 9.75 4h4a.75.75 0 0 1 .53 1.28l-1.89 1.892c.312.076.604.18.867.319.742.391 1.244 1.063 1.244 2.005 0 .653-.231 1.208-.629 1.627-.386.408-.894.653-1.408.777-1.01.243-2.225.063-3.124-.527a.751.751 0 0 1 .822-1.254c.534.35 1.32.474 1.951.322.306-.073.53-.201.67-.349.129-.136.218-.32.218-.596 0-.308-.123-.509-.444-.678-.373-.197-.98-.318-1.806-.318a.75.75 0 0 1-.53-1.28l1.72-1.72H9.75A.75.75 0 0 1 9 4.75Zm-3.587 5.763c-.35-.05-.77.113-.983.572a.75.75 0 1 1-1.36-.632c.508-1.094 1.589-1.565 2.558-1.425 1 .145 1.872.945 1.872 2.222 0 1.433-1.088 2.192-1.79 2.681-.308.216-.571.397-.772.573H7a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75c0-.69.3-1.211.67-1.61.348-.372.8-.676 1.15-.92.8-.56 1.18-.904 1.18-1.474 0-.473-.267-.69-.587-.737ZM5.604.089A.75.75 0 0 1 6 .75v4.77h.711a.75.75 0 0 1 0 1.5H3.759a.75.75 0 0 1 0-1.5H4.5V2.15l-.334.223a.75.75 0 0 1-.832-1.248l1.5-1a.75.75 0 0 1 .77-.037Z">
            </path>
          </svg>
          Enter the code sent to your email
        </label>
        <input type="text" id="email-token" placeholder="6-digit code" maxlength="6" inputmode="numeric"
          autocomplete="one-time-code">
      </div>
      <button id="verify-2fa-button">
        <span class="button-content">Verify</span>
        <span class="button-spinner hidden">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12">
            <path d="M2 7.75A.75.75 0 0 1 2.75 7h10a.75.75 0 0 1 0 1.5h-10A.75.75 0 0 1 2 7.75Z"></path>
          </svg>
        </span>
      </button>
      <p class="error" id="2fa-error"></p>
    </div>
  </div>
</body>

</html>
