<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <meta name="description" content="Reset Password">
  <title>Reset Password | My App</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css">
  <script type="module" src="/js/resetPassword.js" defer></script>
</head>
<body>
  <div class="container">
    <div id="reset-password-form" class="form-section active">
      <h4 class="text-div">Reset Password</h4>
      <form id="reset-password" method="POST" action="/api/reset-password">
        <input type="hidden" name="token" value="<%= token %>">
        <input type="hidden" name="email" value="<%= email %>">
        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password" name="password" id="password" placeholder="Enter new password" autocomplete="new-password">
        </div>
        <div id="password-requirements">
          <p>Password must contain:</p>
          <ul>
            <li id="length" class="invalid">At least 8 characters</li>
            <li id="uppercase" class="invalid">At least one uppercase letter</li>
            <li id="lowercase" class="invalid">At least one lowercase letter</li>
            <li id="number" class="invalid">At least one number</li>
            <li id="special" class="invalid">At least one special character (@$!%*?&)</li>
          </ul>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm New Password</label>
          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm new password" autocomplete="new-password">
        </div>
        <button type="submit" id="reset-password-button">
          <span class="button-content">Reset Password</span>
          <span class="button-spinner hidden">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12">
              <path d="M2 7.75A.75.75 0 0 1 2.75 7h10a.75.75 0 0 1 0 1.5h-10A.75.75 0 0 1 2 7.75Z"></path>
            </svg>
          </span>
        </button>
        <p class="error" id="reset-password-error"></p>
      </form>
      <p class="font-second">
        Remembered your password? <a href="/" id="back-to-login" class="link">Back to Login</a>
      </p>
    </div>
  </div>
</body>
</html>
